{% extends "base.html" %}

{% block body %}
<html>
    <head>
        <title>Add Book</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='search.css') }}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="form-style-5">
            <form method="POST">
                <fieldset>
                    <legend><span class="number">1</span>Search by Text</legend>
                    <input type="text" name="field1" placeholder="input location name">
                </fieldset>
                <input type="submit" name="submit_button" value="Search" />
            </form>
        </div>
    </body>
</html>

{% endblock %}